accelerate==1.10.1
bitsandbytes==0.47.0
datasets==3.6.0
numpy==2.2.6
peft==0.17.1
protobuf==6.32.0
safetensors==0.6.2
sentencepiece==0.2.1
sympy==1.14.0
torch==2.7.1
transformers==4.55.4
trl==0.21.0
unsloth==2025.8.9
vllm==0.10.1.1
wandb==0.21.1
xformers==0.0.31
